{% extends "base.html" %}

{% block content %}

<!-- Header -->
<h1>About Us</h1>

<h2>Company Information</h2>
<p>Group 3 is a company that's passionate about electric vehicles. We're here to welcome and support everyone who believes in sustainable transportation. 
    We're known for being at the forefront of electric vehicle technology, setting high standards and changing the way we think about transportation.</p>

<h2>Mission Statement</h2>
<p>At Group 3, we are wholeheartedly dedicated to promoting sustainable transportation. 
    Our aim is to make electric vehicles a natural part of our everyday lives, removing any obstacles that might hinder people, communities, 
    and the planet from enjoying cleaner and more efficient transportation. We're committed to offering the information, tools, 
    and resources needed for a smoother journey towards a greener and more sustainable world.</p>

<h2>Vision Statement</h2>
<p>We believe in a cleaner, greener future that's achievable. 
    Our vision is a world where electric cars drive positive change, creating a healthier, 
    more sustainable planet. Group3 aims to be your one-stop source for electric car and charging station information. 
    We want to provide the latest insights on electric vehicle technology and help you find easy charging solutions that suit your lifestyle. 
    Together, we're shaping a future where transportation is an agent of environmental renewal, and Group 3 is your guiding light on this journey.</p>

{% endblock %}
