{% extends "base.html" %}

{% block content %}

<!-- Header -->
<h1 style="font-family:'Aldrich';font: size 30px;">About Us
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<h2 style="font-family:'Aldrich';font-size:15px">Meet our dedicated team!</h2>

<p></li>
    Lily Da, Sukhi Kaur, Francisco Lim, John Nguyen, Diana Rodriguez, Lena Thongdara, & Marie Francois!</p>

<h2 style="font-family:'Aldrich';font-size: 15px;">Who Are We? </h2>

<p> Founded in 2023, EV Oasis is passionate about helping its users achieve a sustainable life style.  
    We're known for being at the forefront of electric vehicle technology services, setting high standards and creating easy access to all your travel charging stops!</p>

<h2 style="font-family:'Aldrich';font-size: 15px;">Our Mission</h2>
<p>At EV Oasis, our mission is to provide Users with easy travel technology.
    We aim to make electric vehicles a natural part of our everyday lives, removing any obstacles that might hinder people, communities, 
    and the planet from enjoying cleaner and more efficient transportation. We're committed to offering the information, tools, 
    and resources needed for a smoother journey towards a greener and more sustainable world.</p>

<h2 style="font-family:'Aldrich';font-size: 15px;"> Our Vision </h2>
<p>We believe in a cleaner, greener future that's achievable. 
    Our vision is a world where electric cars drive positive change, creating a healthier, 
    more sustainable planet. EV Oasis aims to be your one-stop source for electric car and charging station information. 
    We want to provide the latest insights on electric vehicle technology and help you find easy charging solutions that suit your lifestyle. 
    Together, we're shaping a future where transportation is an agent of environmental renewal, and EV Oasis is your guiding light on this journey.</p>

{% endblock %}
