{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        color: rgb(222, 222, 222);
        font-family: 'Aldrich';font-size: 22px;
        font-size: 40px;
    }
</style>

<h1 style="color: white;">EV OASIS</h1>
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<p style="color: white; text-align: center; 
display: flex; justify-content: center; 
align-items: center; height: 70vh;  
font-family: 'Aldrich';font-size: 22px;
font-size: 30px;">
    Uncover Charging Stations on the Go!

</p> 
<p style="color: white; text-align: center; 
display: flex; justify-content: center; 
align-items: center; height: 30vh;  
font-family: 'Aldrich';font-size: 22px;
font-size: 25px;">
     Travel Confidently with EV OASIS, Where Worry-Free Adventures Awaits
</p>


{% endblock %}