{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Open Sans', sans-serif; background-color: #f4f4f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 style="font-family: 'Lato', sans-serif; color: #333;">Sources</h2>

    <ul style="list-style-type: none; padding: 0;">
        <li style="padding: 10px 0;">
            <a href="https://electrek.co/2021/07/27/ev-vs-ice-how-far-can-you-travel-in-each-state-for-100/" style="text-decoration: none; color: #2c3e50;">Electrek: EV vs ICE comparison</a>
        </li>
        <li style="padding: 10px 0;">
            <a href="https://afdc.energy.gov/vehicle-registration" style="text-decoration: none; color: #2c3e50;">AFDC Energy: Vehicle Registration</a>
        </li>
        <li style="padding: 10px 0;">
            <a href="https://afdc.energy.gov/fuels/electricity_locations.html#/find/nearest?fuel=ELEC" style="text-decoration: none; color: #2c3e50;">AFDC Energy: Electricity Locations</a>
        </li>
        <li style="padding: 10px 0;">
            <a href="https://elements.visualcapitalist.com/range-of-electric-cars-vs-gas/" style="text-decoration: none; color: #2c3e50;">Visual Capitalist: Range of Electric Cars vs Gas</a>
        </li>
        <li style="padding: 10px 0;">
            <a href="https://www.unitedstateszipcodes.org/ca/" style="text-decoration: none; color: #2c3e50;">United States ZIP Codes</a>
        </li>
    </ul>
</div>
{% endblock %}
