{% extends "base.html" %}

{% block content %}
<style>
    #map {
        height: 500px;
    }
</style>

<div id="map"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([36.7783, -119.4179], 6);  // Setting the view to cover California

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        fetch('/charging-stations/')
            .then(response => response.json())
            .then(data => {
                if (!data.error) {
                    data.forEach(station => {
                        if (station.AddressInfo && station.AddressInfo.Latitude && station.AddressInfo.Longitude) {
                            var marker = L.marker([station.AddressInfo.Latitude, station.AddressInfo.Longitude]).addTo(map);
                            marker.bindPopup(`<b>${station.AddressInfo.Title}</b><br>${station.AddressInfo.AddressLine1}`);
                        }
                    });
                } else {
                    console.error(data.error);
                }
            })
            .catch(error => console.error('Error fetching charging stations:', error));
    });
</script>
{% endblock %}
